:root {
    --primary-black-400: #414141;
    --primary-black-700: #000000;
    --neutral-gray-0: #ffffff;
    --neutral-gray-100: #e5e7eb;
    --neutral-gray-200: #B4B4B4;
    --neutral-gray-300: #898583;
    --accent-green-500: #12C138;
    --accent-yellow-300: #FFE8A6;
    --accent-yellow-500: #FFD700;
    --accent-orange-500: #FF7A00;
    --accent-red-500: #FF0000;
    --nichila-primary-700: #3F4F10;
    --nichila-primary-600: #586b1f;
    --nichila-primary-500: #769222;
  }
  
  html,
  body {
    font-family: var(--font-ubuntu);
    max-width: 100vw;
    overflow-x: hidden;
    font-weight: 400;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  span, button {
    font-family: var(--font-ubuntu);
    color: currentColor;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  